<div class="container">
    <div class="card carf">
<!--Section: FAQ-->
<section>
  <h2 class="text-center mb-4 pb-2 subtitle fw-bold d-flex justify-content-center">FAQ</h2>
  <p class="text-center mb-5 subtitle">
      Encuentra las respuestas a las preguntas mas frecuentes
  </p>

  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 subtitle"><i class="far fa-paper-plane pe-2"></i>¿Hay garantías de pago?</h6>
      <p>
        <strong><u>Absolutamente!</u></strong> Trabajamos con las mejores empresas de pago, lo que garantiza
        su
        seguridad. Toda la información de facturación se almacena en nuestro socio de procesamiento de pagos.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 subtitle"><i class="fas fa-pen-alt pe-2"></i>¿Puedo cancelar mi subscripción?</h6>
      <p>
        <strong><u>Si, es posible!</u></strong> 
        Puede cancelar su suscripción en cualquier momento en
        su cuenta. Una vez cancelada la suscripción, no se le cobrará el mes siguiente.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 subtitle"><i class="fas fa-user pe-2"></i>¿Hay suscripción semanal?
      </h6>
      <p>
        Actualmente, sólo ofrecemos una suscripción mensual. Puede actualizar o cancelar su cuenta mensual
        en cualquier momento sin ninguna obligación.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 subtitle"><i class="fas fa-rocket pe-2"></i> ¿Puedo actualizar mi información de Pago?
      </h6>
      <p>
        Sí. Vaya a la sección de facturación de su panel de control y actualice su información de pago.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 subtitle"><i class="fas fa-home pe-2"></i> ¿Tienen reembolsos?
      </h6>
      <p><strong><u>Desafortunadamente no</u>.</strong> No realizamos reembolsos totales o parciales por ningún
        razón.</p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 subtitle"><i class="fas fa-book-open pe-2"></i>¿Existe algun plan gratuito?</h6>
      <p>
        Por supuesto. Estamos encantados de ofrecer un plan gratuito a cualquiera que quiera probar nuestro servicio.
      </p>
    </div>
  </div>
</section>
<!--Section: FAQ-->
    </div>

</div>