<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Términos Legales</h5>

        <p>
          Los chatbots presentan numerosas aplicaciones prácticas que pueden suponer la
          transformación de la comunicación tal y como la conocemos. A diferencia de lo que ocurre
          en la comunicación tradicional, cuando utilizamos un chatbot uno de los interlocutores es
          un software.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Suscribirse</h5>
        <p>Suscríbete a nuestras redes sociales para enterarte de todo nuestro contenido!</p>
        
        <a href="#" class="fab fa-facebook" style="font-size: 25px;margin-left: 8px"></a>
        <a href="#" class="fab fa-twitter" style="font-size: 25px;margin-left: 8px"></a>
        <a href="#" class="fab fa-whatsapp" style="font-size: 25px; margin-left: 8px"></a>
        <a href="#" class="fab fa-instagram" style="font-size: 25px; margin-left: 8px;"></a>

      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright: Universidad Autónoma de Aguascalientes - ISC 9°A
  </div>
  <!-- Copyright -->
</footer>