<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      (click)="togglerThirdExample.toggle()"
      aria-controls="navbarTogglerDemo03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <a class="navbar-brand" href="#">
      <img src="../../assets/Logo.png" alt="Texnology" />
    </a>
    <div
      class="collapse navbar-collapse"
      id="navbarTogglerDemo03"
      mdbCollapse
      #togglerThirdExample="mdbCollapse"
    >
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home" routerLinkActive="active"
            ><img src="../../assets/Home.png" alt="Home"
          /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="acercade" routerLinkActive="active"
            ><img src="../../assets/AcercaDe.png" alt="AcercaDe"
          /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="contacto" routerLinkActive="active"
            ><img src="../../assets/Contacto.png" alt="contacto"
          /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="faq" routerLinkActive="active"
            ><img src="../../assets/faq.png" alt="faq"
          /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="crud" routerLinkActive="active"
            ><img src="../../assets/crud.png" alt="crud"
          /></a>
        </li>
      </ul>
     
    </div>
  </div>
  <div class="d-flex flex-row-reverse">
    <a routerLink="ingreso"><i class="fas fa-user icon icono"></i></a>
    <a routerLink="wok"><i class="fas fa-shopping-cart icon icono"></i></a>
  </div>
</nav>
