<div class="container col-md-4 cont">
  <div class="card">
    <div class="row">
      <div class=" d-flex justify-content-center">
        <div class="panel panel-default">
          <div class="panel-body" style="padding: 4%;">
            <div class="text-center">
              <h3><i class="fa fa-lock fa-4x" style="color: #3b676c;"></i></h3>
              <h2 class="text-center">Recuperar Contraseña</h2>
              <p>Puedes reiniciar tu contraseña aqui.</p>
              <br>
              <div class="panel-body">

                <form id="register-form" role="form" autocomplete="off" class="form" method="post">

                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                      <input id="email" name="email" placeholder="Correo" class="form-control" type="email">
                    </div>
                  </div>
                  <br>
                  <div class="form-group">
                    <input name="recover-submit" class="btn btn-lg btn-block boton" value="Recuperar"
                      type="submit">
                  </div>

                  <input type="hidden" class="hide" name="token" id="token" value="">
                  <br>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>