<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <h6 class="d-flex justify-content-center title">INGRESO</h6>
  
      <!-- Login Form -->
      <form>
        <button type="button" class="btn btn-info boton" routerLink="/signin">Usuario</button>
        <br>
        <button type="button" class="btn btn-info boton" routerLink="/signinemp">Empleado</button>
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
       <h4>Selecciona una opción</h4>
      </div>
  
    </div>
  </div>