<div class="container ">
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing ">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2 style="font-size: 25px;">Tienda</h2>
            </div>

            <div class="row d-flex justify-content-center columna">

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="box">
                        <h3>Gratis</h3>
                        <h4><sup>$</sup>0<span> / mes</span></h4>
                        <ul>
                            <li>1 chatbot activo</li>
                            <li>200 historias</li>
                            <li>Seguridad de los datos</li>
                            <li class="na">Colaboración en equipo</li>
                            <li class="na">Asistencia al cliente Premium</li>
                        </ul>
                        <div class="btn-wrap">
                            <a routerLink="/more" class="btn-buy">Ver Más</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="box">
                        <h3>Básico</h3>
                        <h4><sup>$</sup>800<span> / mes</span></h4>
                        <ul>
                            <li>1 chatbot activo</li>
                            <li>350 historias</li>
                            <li>Seguridad de los datos</li>
                            <li>Colaboración en equipo</li>
                            <li class="na">Asistencia al cliente Premium</li>
                        </ul>
                        <div class="btn-wrap">
                            <a routerLink="/more" class="btn-buy">Ver Más</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                    <div class="box">
                        <span class="advanced">Especial</span>
                        <h3>Pro</h3>
                        <h4><sup>$</sup>1200<span> / mes</span></h4>
                        <ul>
                            <li>2 chatbots activos</li>
                            <li>Número ilimitado de historias</li>
                            <li>Seguridad de los datos</li>
                            <li>Colaboración en equipo</li>
                            <li>Asistencia al cliente Premium</li>
                        </ul>
                        <div class="btn-wrap">
                            <a routerLink="/more" class="btn-buy">Ver Más</a>
                        </div>
                    </div>
                </div>


            </div>

            
            <div class="row d-flex justify-content-center columna">

                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
                    <div class="box featured">
                        <span class="supreme"><b>Exclusivo</b></span>
                        <h3>Ultimate</h3>
                        <h4><sup>$</sup>1500<span> / mes</span></h4>
                        <ul>
                            <li>3 chatbots activos</li>
                            <li>Número ilimitado de historias</li>
                            <li>Seguridad de los datos</li>
                            <li>Colaboración en equipo</li>
                            <li>Asistencia al cliente Premium</li>
                            <li>Asistencia de seguridad</li>
                            <li>Servicios de creación de chatbot</li>
                            <li>Mantenimiento del chatbot</li>
                        </ul>
                        <div class="btn-wrap">
                            <a routerLink="/more" class="btn-buy">Ver Más</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
                    <div class="box featured">
                        <span class="supreme"><b>Exclusivo</b></span>
                        <h3>Supremo</h3>
                        <h4><sup>$</sup>2500<span> / mes</span></h4>
                        <ul>
                            <li>5 chatbots activos</li>
                            <li>Número ilimitado de historias</li>
                            <li>Seguridad de los datos</li>
                            <li>Asistencia al cliente Premium</li>
                            <li>Asistencia de seguridad</li>
                            <li>Servicios de creación de chatbot</li>
                            <li>Mantenimiento del chatbot</li>
                            <li>Gestor de cuentas dedicado</li>
                        </ul>
                        <div class="btn-wrap">
                            <a routerLink="/more" class="btn-buy">Ver Más</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
                    <div class="box featured">
                        <span class="supreme"><b>Exclusivo</b></span>
                        <h3>Todo Incluido</h3>
                        <h4><sup>$</sup>2800<span> / mes</span></h4>
                        <ul>
                            <li>Chatbots ilimitados</li>
                            <li>Número ilimitado de historias</li>
                            <li>Seguridad de los datos</li>
                            <li>Asistencia al cliente Premium</li>
                            <li>Asistencia de seguridad</li>
                            <li>Servicios de creación de chatbot</li>
                            <li>Mantenimiento del chatbot</li>
                            <li>Gestor de cuentas dedicado</li>
                        </ul>
                        <div class="btn-wrap">
                            <a routerLink="/more" class="btn-buy">Ver Más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Pricing Section -->
</div>