<div class="container">
    <div class="container mt-3">
        <div class="d-flex justify-content-center">
            <h2 style="color: #fff;">CRUD - PAGO</h2>
        </div>
        <input [(ngModel)]="busqueda" (ngModelChange)="busqueda_por($event)" type="text" name="busqueda" id="">
        <table class="table table-dark table-hover">
            <thead>
                <tr style="text-align: center;">
                    <th>Id</th>
                    <th>Monto</th>
                    <th>Fecha</th>
                    <th>Concepto</th>
                    <th>Banco</th>
                    <th>Cuenta</th>
                    <th>idcontrato</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dato of data" (click)="rellenar(dato._id,dato.Monto,dato.Fecha,dato.Concepto,dato.Banco
                ,dato.Cuenta,dato.IdContrato)" style="text-align: center;">
                    <td>{{dato._id}}</td>
                    <td>{{dato.Monto}}</td>
                    <td>{{dato.Fecha}}</td>
                    <td>{{dato.Concepto}}</td>
                    <td>{{dato.Banco}}</td>
                    <td>{{dato.Cuenta}}</td>
                    <td>{{dato.IdContrato}}</td>
                </tr>

            </tbody>
        </table>
    </div>
    <!-- OPCIONES -->
    <div class="opciones">
        <section id="featured-services " class="featured-services">
            <div class="container" data-aos="fade-up">

                <div class="row d-flex justify-content-center" style="margin-left: 3%;">
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" (click)="open(alta)">
                        <div class="icon-box boton" data-aos="fade-up" data-aos-delay="100">
                            <div class="icon "><i class="bx bxl-dribbble"></i></div>
                            <h4 class="title"><a>ALTAS</a></h4>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" (click)="openb(baja)">
                        <div class="icon-box boton" data-aos="fade-up" data-aos-delay="200">
                            <div class="icon"><i class="bx bx-file"></i></div>
                            <h4 class="title"><a>BAJAS</a></h4>

                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" (click)="openc(cambio)">
                        <div class="icon-box boton" data-aos="fade-up" data-aos-delay="200">
                            <div class="icon"><i class="bx bx-file"></i></div>
                            <h4 class="title"><a>CAMBIOS</a></h4>

                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Featured Services Section -->
    </div>
    <!-- <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary" routerLink="/crud">Regresar</button>
    </div> -->
    <br><br>
</div> <!-- End div container -->

<!-- MODALS -->

<ng-template #alta let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Altas</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Dar de alta</p>

        <form>
            <!-- ID -->
            <div class="mb-3">
                <label for="ID" class="form-label">Id</label>
                <input [(ngModel)]="id" name="ID" type="text" class="form-control" id="ID" aria-describedby="Id">
            </div>

            <!-- DATO 1 -->
            <div class="mb-3">
                <label for="datouno" class="form-label">Monto</label>
                <input [(ngModel)]="obj.Monto" name="monto" type="text" class="form-control" id="datouno" aria-describedby="dato">
            </div>

            <!-- DATO 2 -->
            <div class="mb-3">
                <label for="datodos" class="form-label">Fecha
                </label>
                <input [(ngModel)]="obj.Fecha" name="fecha" type="date" class="form-control" id="datodos">
            </div>

            <!-- DATO 3 -->
            <div class="mb-3">
                <label for="datotres" class="form-label">Concepto
                </label>
                <input [(ngModel)]="obj.Concepto" name="concepto" type="text" class="form-control" id="datotres">
            </div>

            <!-- DATO 4 -->
            <div class="mb-3">
                <label for="datocuatro" class="form-label">Banco
                </label>
                <input [(ngModel)]="obj.Banco" name="banco" type="text" class="form-control" id="datocuatro">
            </div>

            <!-- DATO 5 -->
            <div class="mb-3">
                <label for="datocinco" class="form-label">Cuenta
                </label>
                <input [(ngModel)]="obj.Cuenta" name="Cuenta" type="text" class="form-control" id="datocinco">
            </div>
            <div class="mb-3">
                <label for="datocinco" class="form-label">idContrato
                </label>
                <input [(ngModel)]="obj.IdContrato" name="Contra" type="text" class="form-control" id="datocinco">
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click'); insertar();">Guardar</button>
    </div>
</ng-template>

<ng-template #baja let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Bajas</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Dar de baja</p>

        <form>
            <!-- ID -->
            <div class="mb-3">
                <label for="ID" class="form-label">Id</label>
                <input [(ngModel)]="id" name="iD" type="text" class="form-control" id="ID" aria-describedby="Id">
            </div>

        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click'); eliminar();">Borrar</button>
    </div>
</ng-template>

<ng-template #cambio let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Cambios</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Cambios en los datos</p>

        <form>
            <!-- ID -->
            <div class="mb-3">
                <label for="ID" class="form-label">Id</label>
                <input [(ngModel)]="id" name="id" type="text" class="form-control" id="ID" aria-describedby="Id">
            </div>

            <!-- DATO 1 -->
            <div class="mb-3">
                <label for="datouno" class="form-label">Monto</label>
                <input [(ngModel)]="obj.Monto" name="monto" type="text" class="form-control" id="datouno" aria-describedby="dato">
            </div>

            <!-- DATO 2 -->
            <div class="mb-3">
                <label for="datodos" class="form-label">Fecha
                </label>
                <input [(ngModel)]="obj.Fecha" name="fecha" type="date" class="form-control" id="datodos">
            </div>

            <!-- DATO 3 -->
            <div class="mb-3">
                <label for="datotres" class="form-label">Concepto
                </label>
                <input [(ngModel)]="obj.Concepto" name="Concepto" type="text" class="form-control" id="datotres">
            </div>

            <!-- DATO 4 -->
            <div class="mb-3">
                <label for="datocuatro" class="form-label">Banco
                </label>
                <input [(ngModel)]="obj.Banco" name="banco" type="text" class="form-control" id="datocuatro">
            </div>

            <!-- DATO 5 -->
            <div class="mb-3">
                <label for="datocinco" class="form-label">Cuenta
                </label>
                <input [(ngModel)]="obj.Cuenta" name="cuenta" type="text" class="form-control" id="datocinco">
            </div>
            <div class="mb-3">
                <label for="datocinco" class="form-label">idcontrato
                </label>
                <input [(ngModel)]="obj.IdContrato" name="contrat" type="text" class="form-control" id="datocinco">
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click'); actualizar();">Cambiar</button>
    </div>

</ng-template>