.cmod{
    margin-top: 15px;
    margin-bottom: 15px;
    color: whitesmoke;

}

.center{
    align-self: center;
    justify-content: center;
    justify-self: center;
    text-align: center;
}

.gray{
    background-color: rgb(184, 184, 184);
    border-radius: 10px;
    border-bottom: 2px solid #47fff0;
    color:black;
}
.logo{
    width: 20%;
}