<div class="container">
    <div class="container mt-3">
        <div class="d-flex justify-content-center">
            <h2 style="color: #fff;">CRUD's</h2>
        </div>
        <p class="d-flex justify-content-center" style="color: #fff;">Área de gestión de datos</p>
        <table class="table table-dark table-hover">
            <!-- ACA ESTA LA TABLA DONDE VAN LOS DATOS -->
            <thead>
                <tr style="text-align: center;">
                    <th>#</th>
                    <th>Crud</th>
                    <th>Botón</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let array of arr;" style="text-align: center;">
                    <td>{{array.id}}</td>
                    <td>{{array.text}}</td>
                    <td><button type="button" class="btn btn-primary" routerLink="/{{array.ruta}}" >Ingresar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br><br>
</div> <!-- End div container -->
